*.log
*.tmp
*.bbl
*.blg
*.fls
*.out
*.run.xml
*.aux
*.bcf
*.synctex.gz

.DS_Store

*~

notes.org
.ltx/*

models/nk/calvo/*
models/nk/+calvo/*

models/rbc/rbc/*
models/rbc/+rbc/*

models/rbcii/rbcii/*
models/rbcii/+rbcii/*

models/rbcii/rbcii_/*
models/rbcii/+rbcii_/*

models/burnside/+burnside
models/burnside/burnside

models/one/+plotjacobian0/*
models/one/plotjacobian0/*

models/one/+plotjacobian1/*
models/one/plotjacobian1/*

models/irf/rbc/*
models/irf/+rbc/*

models/irf/rbcii/*
models/irf/+rbcii/*


tex/slides/sep.pdf
tex/slides/git.hash
tex/slides/auto/*

tex/wp/sep.pdf
tex/wp/auto/*
