*.log

models/nk/calvo/*
models/nk/+calvo/*

models/rbc/rbc/*
models/rbc/+rbc/*

models/rbcii/rbcii/*
models/rbcii/+rbcii/*

models/rbcii/rbcii_/*
models/rbcii/+rbcii_/*

models/burnside/+burnside
models/burnside/burnside

models/one/+plotjacobian/*
models/one/plotjacobian/*

tex/slides/sep.pdf
tex/slides/git.hash
